/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */
:root {
  --black: #0c0c0c;
  --dark-grey: #212121;
  --blue: #4561dc;
  --orange: #f17821;
  --magenta: #b053a8;

  --degrade-bmo: linear-gradient(
    130deg,
    var(--blue) 0%,
    var(--magenta) 50%,
    var(--orange) 110%
    );
}

html{
  height: 100%;
}
html,
body {
  font-family: Roboto, Arial, sans-serif;
  color: white;
  background-color: var(--dark-grey);
  margin: 0;
}
html,
body,
main {
  width: 100%;
}

body{
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 4rem;
  font-family: "Imperial Script";
  text-align: center;
}
h2 {
  text-align: center;
    scroll-margin-top: 100px;
}

a{
  color: white;
}
a:hover{
  text-decoration: none;
}

/**
*MENU
* */
header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: var(--black);
  padding: 20px 0;

  z-index: 51;/*au dessus du menu*/
}

.picto-burger{
  rotate: 90deg;
}

.menu{
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /*92px min pour la hauteur de header*/
  padding: 92px 0 80px 0;
  box-sizing: border-box;
  background-color: #0c0c0ca8;
  backdrop-filter: blur(8px);

  z-index: 50;

  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.menu .link-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.menu .link-container > a{
  text-align: center;
  width: 100%;
  text-decoration: none;
  font-size: 3rem;
  padding: 20px 0px;
}
.menu .link-container > a:not(:last-of-type){
  border-bottom: solid white 1px;
}
.menu .link-container > a:hover{
  background-color: var(--black);
}

.menu .liens-utiles{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.menu .liens-utiles{

}

.cacher{
  display: none;
}


/**
* CONTENU SITE
* */

section {
  margin: 50px 20px;
  max-width: 800px;
}

.presentation {
  text-align: center;
}

section .contenu {
  margin-left: 20px;
}

section.cta {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  width: 100%;

  background-color: rgb(12, 12, 12);
}

footer > a {
  color: white;
}

/* COPMPOSANTS */

.bouton {
  border: solid 2px var(--dark-grey);
  padding: 1rem;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.bouton.primaire {
  display: flex;
  isolation: isolate;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--degrade-bmo);
  background-size: 100% 100%;
  transition-duration: 0.2s;
}
.bouton.primaire:before {
  content: "";
  z-index: -1;
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background-color: var(--dark-grey);
  transition-duration: 0.2s;
}

.bouton.primaire:hover:before {
  opacity: 0;
}

@keyframes movingBG {
  0%,
  100% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
}

/**
* TESTS
* */

.bloc-miel{
  position: relative;
  width: 100px;
  height: 100px;
  background-color: hsl(39, 82%, 41%);
  border-radius: 20px;
  box-shadow: 0 0 0 0 hsl(39, 82%, 41%);
}

.bloc-miel:before{
  content: "";
  --color: hsl(39, 54%, 56%); 
  position: absolute;
  top: 10%;
  left: 10%;
  width: 45%;
  aspect-ratio: 1;
  
  border-radius: 50%;
  border: solid;
  border-width: 0px;
  border-color: transparent;
  box-shadow: 
  -10px -10px 5px -10px var(--color),
  10px 10px 15px -15px var(--color) inset
  ;
}
.bloc-miel:after{
  content: "";
  --shadow: hsl(38, 63%, 41%); 
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 45%;
  aspect-ratio: 1;

  border-radius: 50%;
  border: solid;
  border-width: 0px;
  border-color: transparent;
  box-shadow: 
  10px 10px 5px -10px var(--shadow),
  -10px -10px 15px -15px var(--shadow) inset
  ;
}